<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Update from our truck<%= license %></title>
    <style type="text/css">
      body {
        font-family: "arial";
      }
    </style>
  </head>
  <body style="padding: 8px">
    <h1 style="font-size: 16px; font-weight: normal">
      Update from our truck: <b><%= license %></b>
    </h1>
    <ul>
      <li>Status: <b><%= status %></b></li>
      <li>ETA: <b><%= eta %></b></li>
      <li>Destination: <b><%= destination %></b></li>
    </ul>
    <a href="https://maps.google.com/?q=<%= latitude %>,<%= longitude %>">
      Current location
    </a>
    <p style="color: rgb(94, 94, 94); font-size: 12px; font-style: italic">
      Approximate geographic location based on boardcomputer log from: <%=
      update %>
    </p>
  </body>
</html>
